<!DOCTYPE HTML>
<html>
<head>
 <title>Blog EMS</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <p>Get your greeting <a href="/greeting">here</a></p>
 <!-- Cabecera -->
 <header>

 <h1>Este es mi Blog </h1>
 </header>
 <!-- Contenido -->
 <section>
<b>Libros</b>
 <p>Harry Potter y la piedra filosofal</p>
 <p>El Señor de los Anillos</p>
 <p>Las aventuras de Peppa Pig </p>
 <p>Cancion de Hielo y fuego </p>
</section>
 <section>
<b>Películas</b>
 <p>El Señor de los Anillos: Las dos torres</p>
 <p>The return of Peppa Pig</p>
 <p>Pesadilla en Elm Street<p>
 </section>
 <!-- Pie de pagina -->
 <footer>
 (c) Aspectos Juridicos
 </footer>
</body>
</html>
