<!DOCTYPE HTML>
<html>
<head>
 <title>Blog EMS</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <p>Get your greeting <a href="/greeting">here</a></p>
 <!-- Cabecera -->
 <header>

 <h1>Este es mi Blog </h1>
 </header>
 <!-- Contenido -->
 <section>
<b>Libros</b>
 
 <div class="col">
    <h1 class="page-title">Los 100 más vendidos</h1>
        <ul class="books">
    <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/independencia_978-84-9066-929-7">
                <img src="https://static.cegal.es/imagenes/marcadas/9788490/978849066929.gif" width="100" height="150" alt="Independencia" title="Independencia">
                                                                <span> 1 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/independencia_978-84-9066-929-7">
                Independencia
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/independencia_978-84-9066-929-7">Terra Alta 2</a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/cercas-javier">Cercas, Javier</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">¿Cómo enfrentarse a quienes manejan el poder en las sombras? ¿Cómo vengarse de quienes más daño te han hecho? Vuelve Melchor Marín. Y vuelve a Barcelona, donde es reclamado para investigar un caso vidrioso: están chantajeando con un vídeo sexual a la alcaldesa de la ciudad. Cargado con su pesar p...</p>
            <p class="synopsis d-block d-md-none">¿Cómo enfrentarse a quienes manejan el poder en las sombras? ¿Cómo vengarse de quienes más daño te h...</p>
            <p class="data">Tusquets Editores / 978-84-9066-929-7 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        21.90€
            </strong>
            (21.06€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/independencia_978-84-9066-929-7">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4453230" data-id="4453230" data-isbn="978-84-9066-929-7">519 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/tomas-nevinson_978-84-204-5459-7">
                <img src="https://static.cegal.es/imagenes/marcadas/9788420/978842045459.gif" width="100" height="150" alt="Tomás Nevinson" title="Tomás Nevinson">
                                                                <span> 2 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/tomas-nevinson_978-84-204-5459-7">
                Tomás Nevinson
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/tomas-nevinson_978-84-204-5459-7"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/marias-javier">Marías, Javier</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">«Matar no es tan extremo ni tan difícil e injusto si se sabe a  quién.» Tras la aclamada Berta Isla, llega la nueva y esperada novela de Javier Marías.Una  intriga absorbente que explora el envés del «No matarás». «Yo fui educado a la antigua, y nunca creí que me fueran a ordenar un día que matara a...</p>
            <p class="synopsis d-block d-md-none">«Matar no es tan extremo ni tan difícil e injusto si se sabe a  quién.» Tras la aclamada Berta Isla,...</p>
            <p class="data">ALFAGUARA / 978-84-204-5459-7 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        22.90€
            </strong>
            (22.02€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/tomas-nevinson_978-84-204-5459-7">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4450723" data-id="4450723" data-isbn="978-84-204-5459-7">497 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/el-infinito-en-un-junco_978-84-17860-79-0">
                <img src="https://static.cegal.es/imagenes/marcadas/9788417/978841786079.gif" width="100" height="150" alt="El infinito en un junco" title="El infinito en un junco">
                                                                <span> 3 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/el-infinito-en-un-junco_978-84-17860-79-0">
                El infinito en un junco
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/el-infinito-en-un-junco_978-84-17860-79-0">La invención de los libros en el mundo antiguo</a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/vallejo-irene">Vallejo, Irene</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">PREMIO NACIONAL DE ENSAYO 2020



Premio el Ojo Crítico de Narrativa 2019



Premio Las Librerías Recomiendan de No Ficción 2020



Premio Búho al Mejor Libro de 2019, que otorga la Asociación Aragonesa de Amigos del Libro



Premio Acción Cívica



Premio Nacional Promotora de...</p>
            <p class="synopsis d-block d-md-none">PREMIO NACIONAL DE ENSAYO 2020



Premio el Ojo Crítico de Narrativa 2019



Premio Las Libr...</p>
            <p class="data">Siruela / 978-84-17860-79-0 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        24.95€
            </strong>
            (23.99€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/el-infinito-en-un-junco_978-84-17860-79-0">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops3870219" data-id="3870219" data-isbn="978-84-17860-79-0">515 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/el-huerto-de-emerson_978-84-9066-848-1">
                <img src="https://static.cegal.es/imagenes/marcadas/9788490/978849066848.gif" width="100" height="150" alt="El huerto de Emerson" title="El huerto de Emerson">
                                                                <span> 4 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/el-huerto-de-emerson_978-84-9066-848-1">
                El huerto de Emerson
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/el-huerto-de-emerson_978-84-9066-848-1"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/landero-luis">Landero, Luis</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">Tras el éxito prolongado de Lluvia fina, Luis Landero retoma la memoria y las lecturas de su particular universo personal donde las dejó en El balcón en invierno. Y lo hace en este libro memorable, que vuelve a trenzar de manera magistral los recuerdos del niño en su pueblo de Extremadura, del adole...</p>
            <p class="synopsis d-block d-md-none">Tras el éxito prolongado de Lluvia fina, Luis Landero retoma la memoria y las lecturas de su particu...</p>
            <p class="data">Tusquets Editores / 978-84-9066-848-1 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        19.00€
            </strong>
            (18.27€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/el-huerto-de-emerson_978-84-9066-848-1">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4441889" data-id="4441889" data-isbn="978-84-9066-848-1">476 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/delparaiso_978-84-670-6113-0">
                <img src="https://static.cegal.es/imagenes/marcadas/9788467/978846706113.gif" width="100" height="150" alt="Delparaíso" title="Delparaíso">
                                                                <span> 5 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/delparaiso_978-84-670-6113-0">
                Delparaíso
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/delparaiso_978-84-670-6113-0"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/val-juan-del">Val, Juan del</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">Delparaíso es un lugar seguro, vigilado las 24 horas, lujoso&nbsp;e inexpugnable. Sin embargo, sus muros no protegen del miedo, del amor, de la tristeza, del deseo y de la muerte. ¿Acaso tiene sentido protegerse de la vida?Juan del Val dirige su mirada, lúcida e implacable, a este mundo tan hermético com...</p>
            <p class="synopsis d-block d-md-none">Delparaíso es un lugar seguro, vigilado las 24 horas, lujoso&nbsp;e inexpugnable. Sin embargo, sus muros...</p>
            <p class="data">Espasa / 978-84-670-6113-0 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        19.90€
            </strong>
            (19.13€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/delparaiso_978-84-670-6113-0">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4427610" data-id="4427610" data-isbn="978-84-670-6113-0">411 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/llevame-a-casa_978-84-322-3773-7">
                <img src="https://static.cegal.es/imagenes/marcadas/9788432/978843223773.gif" width="100" height="150" alt="Llévame a casa" title="Llévame a casa">
                                                                <span> 6 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/llevame-a-casa_978-84-322-3773-7">
                Llévame a casa
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/llevame-a-casa_978-84-322-3773-7"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/carrasco-jesus">Carrasco, Jesús</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">Juan ha conseguido independizarse lejos de su país cuando se ve obligado a regresar a su pequeño pueblo natal debido a la muerte de su padre. Su intención, tras el entierro, es retomar su vida en Edimburgo cuanto antes, pero su hermana le da una noticia que cambia sus planes para siempre. Así, sin p...</p>
            <p class="synopsis d-block d-md-none">Juan ha conseguido independizarse lejos de su país cuando se ve obligado a regresar a su pequeño pue...</p>
            <p class="data">Seix Barral / 978-84-322-3773-7 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        19.90€
            </strong>
            (19.13€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/llevame-a-casa_978-84-322-3773-7">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4441886" data-id="4441886" data-isbn="978-84-322-3773-7">439 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/el-duque-y-yo-bridgerton-1_978-84-16327-81-2">
                <img src="https://static.cegal.es/imagenes/marcadas/9788416/978841632781.gif" width="100" height="150" alt="El duque y yo (Bridgerton 1)" title="El duque y yo (Bridgerton 1)">
                                                                <span> 7 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/el-duque-y-yo-bridgerton-1_978-84-16327-81-2">
                El duque y yo (Bridgerton 1)
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/el-duque-y-yo-bridgerton-1_978-84-16327-81-2"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/quinn-julia">Quinn, Julia</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">Todos parecían divertirse en aquel baile que reunía a lo más selecto de la sociedad londinense. Todos, excepto ellos dos. Daphne, una hermosa joven agobiada por su madre, y Simon, el huraño nuevo duque de Hastings, tenían el mismo problema: la continua presión para que encontraran pareja. Al conocer...</p>
            <p class="synopsis d-block d-md-none">Todos parecían divertirse en aquel baile que reunía a lo más selecto de la sociedad londinense. Todo...</p>
            <p class="data">Titania / 978-84-16327-81-2 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        15.00€
            </strong>
            (14.42€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/el-duque-y-yo-bridgerton-1_978-84-16327-81-2">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops3902772" data-id="3902772" data-isbn="978-84-16327-81-2">262 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/klara-y-el-sol_978-84-339-8087-8">
                <img src="https://static.cegal.es/imagenes/marcadas/9788433/978843398087.gif" width="100" height="150" alt="Klara y el sol" title="Klara y el sol">
                                                                <span> 8 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/klara-y-el-sol_978-84-339-8087-8">
                Klara y el sol
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/klara-y-el-sol_978-84-339-8087-8"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/ishiguro-kazuo">Ishiguro, Kazuo</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">La esperada novela de Kazuo Ishiguro tras el Premio Nobel. Una historia de ciencia ficción que indaga en lo que nos hace humanos. Klara es una AA, una Amiga Artificial, especializada en el cuidado de niños. Pasa sus días en una tienda, esperando a que alguien la adquiera y se la lleve a una casa, un...</p>
            <p class="synopsis d-block d-md-none">La esperada novela de Kazuo Ishiguro tras el Premio Nobel. Una historia de ciencia ficción que indag...</p>
            <p class="data">Editorial Anagrama / 978-84-339-8087-8 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        20.90€
            </strong>
            (20.10€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/klara-y-el-sol_978-84-339-8087-8">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4463508" data-id="4463508" data-isbn="978-84-339-8087-8">450 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/los-privilegios-del-angel_978-84-233-5868-7">
                <img src="https://static.cegal.es/imagenes/marcadas/9788423/978842335868.gif" width="100" height="150" alt="Los privilegios del ángel" title="Los privilegios del ángel">
                                                                <span> 9 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/los-privilegios-del-angel_978-84-233-5868-7">
                Los privilegios del ángel
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/los-privilegios-del-angel_978-84-233-5868-7"></a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/redondo-dolores">Redondo, Dolores</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">La primera novela de Dolores Redondo.
En la humilde bahía pesquera de Pasajes, en los años 70, rodeada de muelles de pesca, estibadores, humedad y salazón, se forja una fuerte amistad entre Pakutxa y Celeste, dos niñas de cinco años. Entre juegos, complicidades y travesuras, la desdicha se cruza en...</p>
            <p class="synopsis d-block d-md-none">La primera novela de Dolores Redondo.
En la humilde bahía pesquera de Pasajes, en los años 70, rode...</p>
            <p class="data">Booket / 978-84-233-5868-7 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        12.95€
            </strong>
            (12.45€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/los-privilegios-del-angel_978-84-233-5868-7">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4430851" data-id="4430851" data-isbn="978-84-233-5868-7">489 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
        <li class="book row">
<div class="col-12 col-md-9 book-content">
    <div class="row">
        <div class="book-image col-3 col-sm-3 col-md-2">
            <a href="https://www.todostuslibros.com/libros/aquitania_978-84-08-23551-4">
                <img src="https://static.cegal.es/imagenes/marcadas/9788408/978840823551.gif" width="100" height="150" alt="Aquitania" title="Aquitania">
                                                                <span> 10 </span>
                                    </a>
        </div>
        <div class="book-details col-9 col-sm-9 col-md-10">
            <h2 class="title">
                <a href="https://www.todostuslibros.com/libros/aquitania_978-84-08-23551-4">
                Aquitania
                </a>
            </h2>
                                <h3 class="subtitle"><a href="https://www.todostuslibros.com/libros/aquitania_978-84-08-23551-4">Premio Planeta 2020</a></h3>
                                <h3 class="author"><a href="https://www.todostuslibros.com/autor/garcia-saenz-de-urturi-eva">García Sáenz de Urturi, Eva</a></h3>
            <p class="synopsis d-none d-md-block d-lg-block d-xl-block">1137. El duque de Aquitania —la región más codiciada de Francia— aparece muerto en Compostela. El cuerpo queda de color azul y con la marca del «águila de sangre», una ancestral tortura normanda. Su hija Eleanor decide vengarse y para ello se casa con el hijo del que cree su asesino: Luy VI el Gordo...</p>
            <p class="synopsis d-block d-md-none">1137. El duque de Aquitania —la región más codiciada de Francia— aparece muerto en Compostela. El cu...</p>
            <p class="data">Editorial Planeta / 978-84-08-23551-4 </p>
        </div>
    </div>
</div>
<div class="col-12 col-md-3 book-action">
    <div class="d-flex card-block">
        <div class="book-price">
                                                    <strong>
                                        21.90€
            </strong>
            (21.06€ sin IVA)
                            </div>
        <div class="book-location">
            <a class="btn btn-primary btn-where" href="https://www.todostuslibros.com/libros/aquitania_978-84-08-23551-4">Dónde encontrarlo</a>
                                    <p class="bookstores">
                   <i class="fas fa-map-marker-alt"></i> <span class="bookshops-availability" id="bookshops4405338" data-id="4405338" data-isbn="978-84-08-23551-4">500 Librerías</span>
                </p>
                            </div>
    </div>
</div>
</li>
</ul>

<nav>
<ul class="pagination">

                    <li class="page-item disabled" aria-disabled="true" aria-label="« Anterior">
            <span class="page-link" aria-hidden="true">‹</span>
        </li>





                                                                                <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=2">2</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=3">3</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=4">4</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=5">5</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=6">6</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=7">7</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=8">8</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=9">9</a></li>
                                                                                        <li class="page-item"><a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=10">10</a></li>


                    <li class="page-item">
            <a class="page-link" href="https://www.todostuslibros.com/mas_vendidos?page=2" rel="next" aria-label="Siguiente »">›</a>
        </li>
            </ul>
</nav>


    </div>

</section>
 <section>
<b>Películas</b>
 <p>(Contenido)</p>
 </section>
 <!-- Pie de pagina -->
 <footer>
 (c) Aspectos Evolución y mantenimiento Software
 </footer>
</body>
</html>
